# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Build outputs
dist/
build/
out/
.storybook-static/
storybook-static/
.cache/
.parcel-cache/
.vite/

# Framework / tooling
.next/
.nuxt/
/.pnp
.pnp.js

# Environment variables
.env
.env.local
.env.*.local

# Coverage
coverage/
*.lcov

# Logs
logs/
*.log

# OS files
.DS_Store
Thumbs.db
ehthumbs.db

# Editor/IDE
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# TypeScript
*.tsbuildinfo

# Misc
# DEPLOY.md
# .gitignore
# package.json
# package-lock.json

# Database
*.sqlite
backend/database.sqlite
